<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header bg-light">
      <p class="font-weight-bold text-dark mt-0 mb-0"> {{title}}</p>
      <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
    </div>
    <div class="modal-body" stop-event="touchend">
      <div class="col-12">
        <!-- p-0 col-md-6 m-auto -->
        <div>
          <label class="text-dark">
            This important notice describes the File Upload Policy for this site where you have made a request to upload documents that will assist us. By visiting this site and using this document upload process, you agree to the practices described in this File Upload Policy. You also agree that we will not be held liable for any issues you have with uploading your documents.
            <br>

            <br>
            This Platform allows users to upload content requested of them. All users must comply with our policy for uploading files. Users are therefore solely responsible for the content that they upload. When using the site, users must NOT upload any photo, image, graphic, audio, video, file, or material that:
            <ul>
              <li>contains a virus or malicious content that could harm the Websites, server, or any files;</li>
              <li>contains any content that is not relevant to what has been requested;</li>
              <li>contains any pornographic, obscene, or indecent content;</li>
              <li>contains any unlawful content or violates any law or regulation;</li>
              <li>contains any content that promotes violence or terrorism;</li>
              <li>contains material that is abusive, threatening, defamatory, or otherwise objectionable and offensive;</li>
              <li>violates any copyright, trademark, trade secret, patent, or proprietary or intellectual property right, unless the user is the owner of such right or has obtained appropriate authorization from the rightful owner to use such materials;</li>
              <li>violates or infringes on the privacy rights of others;</li>
              <li>is confidential and has not been cleared for public release by its authoring body or institution;</li>
              <li>promotes hatred or prejudice against any individual, organization, or group based on age, race, religion, ethnicity, sex, gender identity, sexual preference, disability, or national origin;</li>
              <li>contains information that is malicious, libelous, false, or inaccurate;</li>
            </ul>

            Users who upload requested documents to the Website grant to us a worldwide, non-exclusive, royalty-free, license to use, reproduce and make the document in connection with the provision of the site available to our business in order to assist users. User promises not to upload, submit or transmit any Content that:
            <ul>
              <li>infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy;</li>
              <li>violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability;</li>
              <li>is fraudulent, knowingly false, misleading or deceptive;</li>
              <li>is defamatory, obscene, pornographic, vulgar or offensive;</li>
              <li>promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group;</li>
              <li>is violent or threatening or promotes violence or actions that are threatening to any person or entity;</li>
              <li>promotes illegal or harmful activities or substances;</li>
              <li>discloses information that you do not have the right to disclose (such as confidential information of others, including your employer);</li>
            </ul>

            This site does not claim any ownership or copyright for content uploaded by users. You acknowledge and agree that you are solely responsible for all content that you make available through our services. Failure to abide by these terms constitutes a misuse of this policy and the Platform’s Terms of Use. We may review user-submitted content for compliance with this policy. However, we have no obligation to do so. At our sole discretion, we may remove any user documents submitted through the Platform from our systems at any time. Users are solely responsible for the content they upload when using the Platform and must adhere to the information presented in this policy.
          </label>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>